<div>Your selected Sets</div>
<div class="wide">
    <table class="table">
        <thead>
            <tr>
                <th>Set</th>
                <th class="text-right">Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Donor Set</th>
                <td class="text-right"><a href="">{{item.donorCount}}</a></th>
            </tr>
            <tr>
                <td>Gene Set</th>
                <td class="text-right"><a href="">{{item.geneCount}}</a></th>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<br>

<div>
  Main grid + histograms go here
</div>