Using Top 100 Donors and Top 50 Genes with a know Functional Impact

<div id="oncogrid-topcharts">
  
</div>

<div id="oncogrid-div">

</div>

<div id="oncogrid-controls">
  <button class="btn btn-default" ng-click="removeCleanDonors()">Remove Donors With No Mutations</button>
  <button class="btn btn-default" ng-click="removeCleanGenes()">Remove Genes With No Mutations</button>
  <button class="btn btn-default" ng-click="clusterData()">Cluster Data</button>
  <button class="btn btn-default" ng-click="sortByAge()">Sort By Age</button>
  <button class="btn btn-default" ng-click="heatMap()">Toggle Heatmap</button>
</div>