<div>Your selected Sets</div>
<div class="wide">
    <table class="table">
        <thead>
            <tr>
                <th>Set</th>
                <th class="text-right"># of Entities</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.donorSetName}}</th>
                <td class="text-right"><a href="{{donorLink}}">{{item.donorCount}}</a></th>
            </tr>
            <tr>
                <td>{{item.geneSetName}}</th>
                <td class="text-right"><a href="{{geneLink}}">{{item.geneCount}}</a></th>
            </tr>
        </tbody>
    </table>
</div>
<div class="clearfix"></div>
<br>


<div style="margin-left: -160px;">
    
<div id="oncogrid-topcharts">
</div>  

<div id="oncogrid-div">
</div>

</div>