$border: $tooltipBorder;
$fill: $tooltipFill;
$shadowColor: $tooltipShadowColor;

#oncogrid-div {
    .background {
      fill: #f2f2f2;
    }
    
    line {
      stroke: #fff;
      stroke-opacity: .5;
      shape-rendering: crispEdges;
    }
    
    textarea {
      padding: 2px;
      width: 714px;
      height: 360px;
    }
    
    .gene-label {
      cursor: move;
    }
    
    .label-text-font {
      font-size: 0.5rem;
    }
    
    .sortable-rect {
      cursor: pointer;
      
      &:hover {
        stroke: red;
        stroke-width: 2;
      }
      
    }
    
    div.og-tooltip-oncogrid {
      font-weight: 300;
      position: absolute;
      z-index: 100001;
      display: block;
      visibility: visible;
      font-size: .9rem;
      pointer-events: none;
      line-height: 1.6rem;
      border: 1px solid $border;
      background-color: $fill;
      border-radius: 3px;
      -webkit-filter: drop-shadow(0 1px 3px $shadowColor);
      -moz-box-shadow: 0 1px 3px $shadowColor;
      filter: drop-shadow(0 1px 3px $shadowColor);
      padding: 5px;
  }
  
  rect {
    &.og-track-age {
      fill: #638f56;
    }
    
    &.og-track-vitalStatus {
      &.og-track-true {
        fill: #1693c0;
      }
      
      &.og-track-false {
        fill: darkred;
      }
    }
    
    &.og-track-sex {
      &.og-track-male {
        fill: #420692;
      }
      
      &.og-track-female {
        fill: rgb(220, 96, 156);
      }
    }
    
    &.og-track-cnsmExists {
      fill: #e9931c;
    }
    
    &.og-track-stsmExists {
      fill: darkslategrey;
    }
  }
  
}